<table>
  <tr>
    <th>Title:</th>
    <th><%= @book.title %></th>
  </tr>
  <tr>
    <th>Body:</th>
    <th><%= @book.body %></th>
  </tr>
</table>

<table>
  <tr>
    <th><%= link_to 'edit', edit_book_path(@book.id) %></th>
    <th>|</th>
    <th><%= link_to 'back', '/books' %></th>
  </tr>
</table>